<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>17/10/01 13:45:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_CompleteMeeting.Meeting_Complete_Scenario()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_001_CompleteMeeting@239963d8]">Meeting_Complete_Scenario</td> 
  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>17/10/01 13:47:19</td>   <td>91012</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_CompleteMeeting.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_001_CompleteMeeting@239963d8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>17/10/01 13:45:10</td>   <td>-38068</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_CompleteMeeting.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_001_CompleteMeeting@239963d8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
</table>
