<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite Cases</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>17/08/24 18:15:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_NM001_Cancell_Byuser_Before_Accepted.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM001_Cancell_Byuser_Before_Accepted@402a079c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>17/08/24 18:16:00</td>   <td>35049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_NM001_Cancell_Byuser_Before_Accepted.NormalInvite_CancelByUser_BeforeAcceptByMentor()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM001_Cancell_Byuser_Before_Accepted@402a079c]">NormalInvite_CancelByUser_BeforeAcceptByMentor</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>17/08/24 18:21:41</td>   <td>376194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_NM001_Cancell_Byuser_Before_Accepted.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM001_Cancell_Byuser_Before_Accepted@402a079c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/08/24 18:21:42</td>   <td>377100</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_NM003_Accepted_And_Cancell_ByMentor.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM003_Accepted_And_Cancell_ByMentor@59ec2012]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/08/24 18:22:09</td>   <td>404233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_NM003_Accepted_And_Cancell_ByMentor.NormalInvite_AfterAccept_CancellByMentor()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM003_Accepted_And_Cancell_ByMentor@59ec2012]">NormalInvite_AfterAccept_CancellByMentor</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/08/24 18:29:35</td>   <td>850625</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_NM003_Accepted_And_Cancell_ByMentor.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM003_Accepted_And_Cancell_ByMentor@59ec2012]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/08/24 18:29:36</td>   <td>851371</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_NM002_Decline_ByMentor_Before_Accepted.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM002_Decline_ByMentor_Before_Accepted@4cf777e8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/08/24 18:30:09</td>   <td>884027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_NM002_Decline_ByMentor_Before_Accepted.NormalInvite_CancelByMentor_BeforeAcceptByMentor()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM002_Decline_ByMentor_Before_Accepted@4cf777e8]">NormalInvite_CancelByMentor_BeforeAcceptByMentor</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/08/24 18:35:56</td>   <td>1231758</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_NM002_Decline_ByMentor_Before_Accepted.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM002_Decline_ByMentor_Before_Accepted@4cf777e8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>17/08/24 18:35:57</td>   <td>1232467</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_NM004_Accepted_and_Cancell_ByUser.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM004_Accepted_and_Cancell_ByUser@2f686d1f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>17/08/24 18:36:51</td>   <td>1285997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_NM004_Accepted_and_Cancell_ByUser.normalInvite_AfterAccept_CancellByUser()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM004_Accepted_and_Cancell_ByUser@2f686d1f]">normalInvite_AfterAccept_CancellByUser</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>17/08/24 18:40:54</td>   <td>1529428</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_NM004_Accepted_and_Cancell_ByUser.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_NM004_Accepted_and_Cancell_ByUser@2f686d1f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/08/24 18:40:55</td>   <td>1530148</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_PM005_Cancell_ByMentor_Before_Accept_ByUser.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM005_Cancell_ByMentor_Before_Accept_ByUser@3fee9989]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/08/24 18:41:33</td>   <td>1568221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PM005_Cancell_ByMentor_Before_Accept_ByUser.MentorLogin_and_Send_PrivateInvite()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM005_Cancell_ByMentor_Before_Accept_ByUser@3fee9989]">MentorLogin_and_Send_PrivateInvite</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/08/24 18:43:46</td>   <td>1701356</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_PM005_Cancell_ByMentor_Before_Accept_ByUser.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM005_Cancell_ByMentor_Before_Accept_ByUser@3fee9989]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/08/24 18:43:47</td>   <td>1702068</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_PM006_Decline_ByUser_Before_Accepted.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM006_Decline_ByUser_Before_Accepted@73ad2d6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/08/24 18:44:36</td>   <td>1751354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PM006_Decline_ByUser_Before_Accepted.MentorLogin_and_Send_PrivateInvite_DeclineByUser()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM006_Decline_ByUser_Before_Accepted@73ad2d6]">MentorLogin_and_Send_PrivateInvite_DeclineByUser</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/08/24 18:47:40</td>   <td>1935171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_PM006_Decline_ByUser_Before_Accepted.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM006_Decline_ByUser_Before_Accepted@73ad2d6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/24 18:47:41</td>   <td>1935971</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_PM007_Accepted_And_Cancell_ByMentor.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM007_Accepted_And_Cancell_ByMentor@7085bdee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/24 18:48:14</td>   <td>1969679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PM007_Accepted_And_Cancell_ByMentor.Private_Invite_Before_Accept_ByUser_Decline_ByMentor()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM007_Accepted_And_Cancell_ByMentor@7085bdee]">Private_Invite_Before_Accept_ByUser_Decline_ByMentor</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/24 18:54:43</td>   <td>2357975</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_PM007_Accepted_And_Cancell_ByMentor.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM007_Accepted_And_Cancell_ByMentor@7085bdee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/08/24 18:54:44</td>   <td>2358773</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_PM008_Accepted_And_Cancell_ByUser.beforeClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM008_Accepted_And_Cancell_ByUser@1ce92674]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/08/24 18:56:41</td>   <td>2476536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PM008_Accepted_And_Cancell_ByUser.Private_Invite_Accepted_And_Cancell_ByUser()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM008_Accepted_And_Cancell_ByUser@1ce92674]">Private_Invite_Accepted_And_Cancell_ByUser</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/08/24 19:02:42</td>   <td>2837551</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_PM008_Accepted_And_Cancell_ByUser.afterClass()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_PM008_Accepted_And_Cancell_ByUser@1ce92674]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/08/24 19:02:43</td>   <td>2838257</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_MentorCreateAddAvailability.launchBrowser()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_001_MentorCreateAddAvailability@6500df86]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/08/24 19:03:14</td>   <td>2868851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_MentorCreateAddAvailability.Menor_AddAvialability()[pri:48, instance:TestCases_Strict_Policy_ByMentor.TC_001_MentorCreateAddAvailability@6500df86]">Menor_AddAvialability</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/08/24 19:04:42</td>   <td>2957551</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_MentorCreateAddAvailability.closeDriver()[pri:0, instance:TestCases_Strict_Policy_ByMentor.TC_001_MentorCreateAddAvailability@6500df86]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
</table>
